<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Receptenboek</title>
</head>

<body>

    <div class="bg-primary">
        <header>
            <div class="header-logo">
                <a href="./index.html"><img src="./images/logo.png" width="100" alt=""></a>
            </div>
            <div class="header-title">
                <p>super awesome recipe book</p>
            </div>
            <nav class="header-nav">
                <a href="./index.html">Homepagina</a>
                <a href="./contact.html">Contact</a>
            </nav>
        </header>
    </div>

    <section class="recipe-title">
        <div class="recipe-title-text">
            <h1>Pizza Salami</h1>
            <p>Alleen zoals moeder het maakt</p>
        </div>
        <div class="recipe-title-image">
            <img src="./images/PizzaSalami.jfif" alt="Spaghetti Bolognese" srcset="">
        </div>
    </section>

    <div class="recipe-wrapper">
        <section class="recipe-ingredients">
            <h2>Ingrediënten:</h2>
            <ul>
                <li>Voor 800 gram pizzadeeg</li>
                <li>500 gr bloem</li>
                <li>250 ml water (lauwwarm)</li>
                <li>25 gr verse gist of 10 gram gedroogde gist</li>
                <li>3 el olijfolie</li>
                <li>3 tl zout (fijn zout, zonder bergje)</li>
                <li>1 tl suiker</li>
                <li>eventueel: 1 tl gedroogde oregano</li>
                <li>Tomatensaus</li>
                <li>Mozzarella</li>
                <li>Salami</li>
                <li>Parmezaan of Oude Kaas</li>
            </ul>
        </section>

        <section class="recipe-how-to">
            <h2>Bereidingswijze:</h2>
            <ol>
                <li>
                    Giet het lauwwarme water in een brede bak of schaal en voeg de gist en suiker toe. Roer goed door, tot de gist egaal verdeeld is. Laat vervolgens een kwartier staan, tot het gistproces op gang is gekomen. Het is van belang dat het water rond de 35 graden is, hierbij werkt gist optimaal. De suiker helpt om dit proces op gang te brengen.
                </li>

                <li>
                    Bestuif het werkblad met wat bloem en maak hierop een bergje van de bloem, of gebruik een grote, brede kom. Meng het zout, eventueel de oregano en de bloem en giet hier het gistmengsel en de olijfolie over, eventueel in fasen. Kneed het deeg ongeveer 10 minuten. In het begin zal het deeg plakkerig zijn, maar gaandeweg wordt het steeds soepeler. Door het zo lang te kneden worden lange ketens gevormd, waardoor het deeg sterker wordt, en wordt het heel soepel, zodat het goed te vormen is. Doe de deegbal in een met olijfolie ingevette bak, dek deze af met een vochtige theedoek en zet deze op een warme plek weg, bijvoorbeeld naast de oven of de verwarming, om 1 tot 2 uur te rijzen.
                </li>

                <li>
                    Kneed het deeg, dat nu ongeveer twee keer zo groot gerezen is, nog een keer goed door en verdeel het in de juiste portie per pizza. Rol elke portie uit tot een pizza. In principe geldt: hoe dunner hoe beter!
                </li>
                <li>
                    Maak de randen iets dikker, zodat de saus er niet afloopt en bedek de pizza met de topping. Hou daarbij je eigen voorkeur aan qua hoeveelheid. Wat jij lekker vindt is goed! Zorg voor een goede, gelijkmatige verdeling.
                </li>
                <li>
                    Zet de pizza op een ingevette bakplaat of ingevet bakpapier in de midden van de oven en bak 15 minuten bij een voorverwamde oven op 250° C of 12 minuten bij 270° C (let op, de meeste ovens hebben zeker een half uur nodig om door en door verwarmd te worden op deze hoge temperaturen). Als je oven nog heter kan, hoeft de pizza nog korter te bakken. Zie voor meer informatie en tips het volledige recept om pizza te maken.
                </li>
            </ol>
        </section>
    </div>

    <div class="footer-div">
        <footer>
            <div class="bg-primary">
                <p class="text-center">&#169; 2022 Esma and Tom Productions</p>
            </div>
        </footer>
    </div>

</body>

</html>