<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Receptenboek</title>
</head>

<body>

    <header>
        <div class="header-logo">
            <img src="./images/logo.jpg" width="100" alt="">
        </div>
        <div class="header-title">
            <p>super awesome recipe book</p>
        </div>
        <nav class="header-nav">
            <a href="./index.html">Homepagina</a>
            <a href="./contact.html">Contact</a>
        </nav>
    </header>

    <section class="recipe-title">
        <div class="recipe-title-text">
            <h1>Spagheti Bolognese</h1>
            <p>Alleen zoals moeder het maakt</p>
        </div>
        <div class="recipe-title-image">
            <img src="./images/SpaghettiBolognese.jpg" alt="Spaghetti Bolognese" srcset="">
        </div>

    </section>
    <div class="recipe-wrapper">
        <section class="recipe-ingredients">
            <h2>Ingrediënten:</h2>
            <ul>
                <li>1 middelgrote ui</li>
                <li>250 g winterpeen</li>
                <li>1 stengel bleekselderij</li>
                <li>2 el milde olijfolie</li>
                <li>25 g ongezouten roomboter</li>
                <li>1 el tomatenpuree</li>
                <li>500 g mager rundergehakt</li>
                <li>90 ml runderbouillon</li>
                <li>800 g tomatenblokjes in blik</li>
                <li>300 g spaghetti</li>
            </ul>
        </section>

        <section class="recipe-how-to">

            <h2>Bereidingswijze:</h2>
            <ol>
                <li>
                    Snipper de ui. Schil de winterpeen en snijd in plakjes. Snijd de bleekselderij in boogjes. Verhit de
                    olie met de boter
                    in een pan, voeg de ui, peen en bleekselderij toe en bak 5 min. op middelhoog vuur. Voeg de
                    tomatenpuree
                    en het gehakt
                    toe en bak in 5 min. rul.
                </li>

                <li>
                    Voeg de bouillon en tomatenblokjes erdoor. Breng op smaak met peper en eventueel zout. Breng aan de
                    kook
                    en laat de saus
                    met de deksel op de pan 30 min. op laag vuur sudderen. Roer af en toe.
                </li>

                <li>
                    Kook ondertussen de spaghetti volgens de aanwijzingen op de verpakking. Verdeel de spaghetti over de
                    borden en schep de
                    saus erover.
                </li>
            </ol>

        </section>
    </div>

    <footer>

        <p>&#169; 2022 Esma and Tom Productions</p>
    </footer>










</body>

</html>