<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Receptenboek</title>
</head>

<body>

    <div class="bg-primary">
        <header>
            <div class="header-logo">
                <a href="./index.html"><img src="./images/logo.png" width="100" alt=""></a>
            </div>
            <div class="header-title">
                <p>super awesome recipe book</p>
            </div>
            <nav class="header-nav">
                <a href="./index.html">Homepagina</a>
                <a href="./contact.html">Contact</a>
            </nav>
        </header>
    </div>

    <section class="recipe-title">
        <div class="recipe-title-text">
            <h1>Tiramisu</h1>
            <p>Alleen zoals moeder het maakt</p>
        </div>
        <div class="recipe-title-image">
            <img src="./images/Tiramisu.jpg" alt="Spaghetti Bolognese" srcset="">
        </div>

    </section>
    <div class="recipe-wrapper">
        <section class="recipe-ingredients">
            <h2>Ingrediënten:</h2>
            <ul>
                <li>3 verse eieren</li>
                <li>40 gr suiker</li>
                <li>250 gr mascarpone</li>
                <li>20 lange vingers</li>
                <li>3 el olijfolie</li>
                <li>1 kopje sterke koffie (afgekoeld)</li>
                <li>3 eetlepels cacaopoeder</li>
                <li>Scheutje marsala wijn (slijterij)</li>
            </ul>
            <h2>Benodigdheden:</h2>
            <ul>
                <li>
                    mixer
                </li>
                <li>
                    Schaal ca. 20 x 14 cm
                </li>
                <li>
                    Klein zeefje
                </li>
            </ul>
        </section>

        <section class="recipe-how-to">
            <h2>Bereidingswijze:</h2>
            <ol>
                <li>
                    Splits de eieren. Zorg er voor dat er absoluut geen eigeel bij het eiwit komt. Mix de eigelen met de suiker in een paar minuten tot een licht geel en luchtig mengsel. Mix de mascarpone er door. Maak de mixer en kom goed schoon en vetvrij en klop daarna de eiwitten helemaal stijf. Spatel het eiwit door het mascarpone mengsel.
                </li>

                <li>
                    Roer de wijn door de koffie in een kommetje of diep bord. Doop de helft van de lange vingers hier een paar seconden in en verdeel over de bodem van de schaal (met de gesuikerde kant naar beneden). Giet ongeveer de helft van het mengsel hierover heen. Doop de rest van de lange vingers in de koffie en verdeel weer over de schaal. Giet het laatste deel van het mengsel er over. Strooi er wat cacao over en zet in de koelkast. Geef de tiramisu de tijd om goed op te stijven, het liefst een hele nacht.
                </li>

                <li>
                    Tips: let op, in dit recept worden rauwe eieren gebruikt. Dit kan gevaarlijk zijn voor oudere of zwakkere mensen en is niet geschikt voor zwangere vrouwen. Vervang de eieren door 200 ml opgeklopte slagroom voor een variant zonder ei.
                </li>
                <li>
                    Vervang de marsala wijn ook eens door Amaretto, Licor 43 of Baileys.
                </li>
            </ol>
        </section>
    </div>

    <div class="footer-div">
        <footer>
            <div class="bg-primary">
                <p class="text-center">&#169; 2022 Esma and Tom Productions</p>
            </div>
        </footer>
    </div>

</body>
</html>