header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 50rem;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}